@model List<Teste.Models.Pessoa>

<div class="jumbotron">
    <h1>Relatório de Cadastrados</h1>
</div>
<table class="table table-bordered table-responsive table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Empresa</th>
            <th scope="col">Telefone Comercial</th>
            <th scope="col">Telefone Celular</th>
        </tr>
    </thead>
        @foreach (var linha in Model)
        {
            <tr>
                <td>@linha.Nome</td>
                <td>@linha.Idade</td>
                <td>@linha.Nascimento.ToString("dd/MM/yyyy")</td>
                <td>@linha.CPF</td>
                <td>@linha.Email</td>
                <td>@linha.Empresa</td>
                <td>@linha.TelefoneComercial</td>
                <td>@linha.TelefoneCelular</td>
            </tr>
        }
</table>

<p>@Html.ActionLink("Voltar", "Index", "Home")</p>